.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    left: 10%;
    
    
}
.headerMiddle{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    list-style: none;
    
}
.headerRight{
    display: flex;
    gap: 40px;
}
.headerMiddle a{
    color: #FFFFFF;
    text-decoration: none;
}
.background{
    height: 1024px;
    width: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
.h1text h1{
    position: absolute;
    font-family: 'Montserrat';
    font-size: 80px;
    font-weight: 700;
    line-height: 81px;
    color: #FFFFFF;
    left: 30%;
    top: 38%;
}
h2{
    position: absolute;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 37px;
    color: #FFFFFF;
    top: 55%;
    left: 26%;
    right: 26%;
    text-align: center;
}
.button{
    position: absolute;
    background: var(--solid-blue-700, #094BAC);
    border-radius: 32px;
    display: flex;
    text-align: center;
    color: #FFF;
    font-size: 23px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 32px;
    top: 72%;
    left: 43%;
    padding: 16px 40px;
    border: none;
    
    
    
}
